body {
    background-color: rgb(20, 20, 20);
    color: rgb(218, 90, 43);
}

a {
    outline-color: transparent;
    border: 4px solid;
    border-color: #6d6d6d;
    border-radius: 5px;
    background-color: #7e7e7e;
    margin-inline: 4px;
    text-decoration: none;
    font-size: 18px;
}

a:link {
    color: #001503;
}

a:visited {
    color: #001503;
}

a:hover {
    background-color: #838383;
}

a.logout {
    font-size: 25px;
}

nav {
    margin-bottom: 30px;
    font-size: 14px;
}

h1 {
    color: coral; 
}

h2 {
    color: coral;
}

p {
    color: coral;
}

th {
    color: #a4530c;
}

table.biometrics, th, td {
    font-size: larger;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px 20px;
}

button.addSetButton {
    margin-bottom: 10px;
    background-color: #7e7e7e;
    border: 4px solid #6d6d6d;
    border-radius: 10%;
    border-style: dashed;
}

button.addSetButton:hover {
    background-color: #838383;
}

input#username, input#password {
    margin-bottom: 10px;
    align-items:flex-end;
}

input.submit {
    background-color: #7e7e7e;
    border: 4px solid #6d6d6d;
    border-radius: 10%;
    border-style: dashed;
    margin-top: 30px;
}

input.submit:hover {
    background-color: #838383;
}
